/*MENUS pagina principal*/
	
ul#menu {
background: #333;
 width: 900px;
 float:left;
 padding: 5px;
}
  
ul#menu li {
 color: #fff;
 float: left;
 list-style: none;
 margin: 0% 8%;  /*vertical y horizontal*/
}
  
ul#menu ul {
 display: none;
 position: absolute;
 top: 49px;
 background: #333;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
 }
  
ul#menu ul li{
 float: left;
 color: #fff;
 width:100%;
 margin:2% 0%;
}
 
   
ul#menu li:hover ul {
 display: block;
 cursor:pointer;
}




/* medu tablas*/


ul#menu2 {
 background: #333;
 width: 1000px;
 float:left;
 padding: 5px;
}
  
ul#menu2 li {
 color: #fff;
 float: left;
 list-style: none;
 margin: 0% 2%;
}
  
ul#menu2 ul {
 display: none;
 position: absolute;
 top: 49px;
 background: #333;
 color: #fff;
 padding: 5px 0px 5px 5px;
 margin: 0;
  }
  
ul#menu2 ul li{
 float: left;
 color: #fff;
 width:100%;
 margin:2% 0%;
 }

ul#menu2 li:hover ul{
 display: block;
 cursor:pointer;
}
